{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card mt-4 ms-4" style="width: 18rem;">
    <img src="{% static '../static/pages/images/2.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{user.1}} {{user.2}}</h5>
      <p style='text-align: center; font-weight:bold;'>Admin</p>
      <p class="card-text">Member since May, 2024</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Orders: 42</li>
      <li class="list-group-item">Posts: 30</li>
      <li class="list-group-item">Tasks Done: 15</li>
    </ul>
    <div class="card-body">
      <button class="btn btn-primary d-block">Send Message</button>

    </div>
  </div>

{%endblock%}