{% extends 'base.html' %}
{% load static %}

  <div class="profile">
    <div class="name">
      Laila Khaled
    </div>
    <img src="{% static '../static/pages/images/2.jpg' %}" alt="" width="150" height="150">
    <div class="admin">
      Admin
    </div>
    <div class="joindate">
      Member since: May 2024
    </div>
    <div class="info">
      <div class="order">
          <img src="{% static '../static/pages/images/order.png' %}" width="20" height="20">
          <p class="o"><font size="2">Orders : <font color="blue">42</font></font></p>
      </div>
      <div class="posts">
          <img src="{% static '../static/pages/images/posts.jpg' %}" width="20" height="20">
          <p class="p"><font size="2">Posts : <font color="blue">42</font></font></p>
      </div>
      <div class="tasks">
          <img src="{% static '../static/pages/images/tasks.jpg' %}" width="20" height="20">
          <p class="t"><font size="2">Tasks done : <font color="blue">42</font></font></p>
      </div>
    </div>
    <div class="message">
      <button class="send"><font size="4"><center> Send Message </font></center></button>
    </div>
  </div>
</div>


{% comment %} NEW
<div class="sidenav">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div> {% endcomment %}