<div class="container">
  <div class="profile-info">
      <h2 class="profi"><i>User Info</i></h2>
      <p>User Name: John Doe</p>
      <p>Email: johndoe@example.com</p>
      <p>Phone Number: 123-456-7890</p>
      <p>Address: 123 Main St, City</p>
  </div>
  <div class="tabs">
      <div class="tab" onclick="showTab('activity')">Activity</div>
      <div class="tab" onclick="showTab('chat')">Chat</div>
      <div class="tab" onclick="showTab('friends')">Friends</div>
  </div>
  <div id="activity" class="tab-content">
      <h2>Activity</h2>
      <p class="activity-item">User commented on a post on March 1st, 2022</p>
      
      <p class="activity-item">User liked a photo on March 3rd, 2022</p>
      <p class="activity-item">User shared a link on March 5th, 2022</p>
      <p class="activity-item">User commented on a post on March 1st, 2022</p>
      <p class="activity-item">User liked a photo on March 3rd, 2022</p>
      <p class="activity-item">User shared a link on March 5th, 2022</p>
  </div>
  <div id="chat" class="tab-content">
      <h2>Chats</h2>
      <p class="chat-item" onclick="showChat(1)">meram</p>
      <p class="chat-item" onclick="showChat(2)">nouran</p>
      <p class="chat-item" onclick="showChat(3)">laila</p>
      <div id="chat-1" class="chat-content">hello</div>
      <div id="chat-2" class="chat-content">we need to study</div>
      <div id="chat-3" class="chat-content">lets hang out tonight</div>
  </div>
  <div id="friends" class="tab-content">
      <h2>Friends</h2>
      <p>Meram</p>
      <p>laila</p>
      <p>fatma</p>
      <p>nada</p>
      <p>nouran</p>

  </div>
</div>
<script>
  function showTab(tabName) {
      var tabContent = document.getElementById(tabName);
      if (tabContent.style.display === 'block') {
          tabContent.style.display = 'none';
      } else {
          var tabs = document.getElementsByClassName('tab-content');
          for (var i = 0; i < tabs.length; i++) {
              tabs[i].style.display = 'none';
          }
          tabContent.style.display = 'block';
      }
  }

  function showChat(chatId) {
      var chatContent = document.getElementById('chat-' + chatId);
      if (chatContent.style.display === 'block') {
          chatContent.style.display = 'none';
      } else {
          var chatContents = document.getElementsByClassName('chat-content');
          for (var i = 0; i < chatContents.length; i++) {
              chatContents[i].style.display = 'none';
          }
          chatContent.style.display = 'block';
      }
  }
</script> 