{% load static %}
<div class="sidenav">
  <div class="profile">
    <div class="name">
      Laila Khaled
    </div>
    <img src="{% static 'images/2.jpg' %}" alt="" width="150" height="150">
    <div class="admin">
      Admin
    </div>
    <div class="joindate">
      Member since: May 2024
    </div>
    <div class="info">
      <div class="order">
          <img src="{% static 'images/order.png' %}" width="20" height="20">
          <p class="o"><font size="2">Orders : <font color="blue">42</font></font></p>
      </div>
      <div class="posts">
          <img src="{% static 'images/posts.jpg' %}" width="20" height="20">
          <p class="p"><font size="2">Posts : <font color="blue">42</font></font></p>
      </div>
      <div class="tasks">
          <img src="{% static 'images/tasks.png' %}" width="20" height="20">
          <p class="t"><font size="2">Taks done : <font color="blue">42</font></font></p>
      </div>
    </div>
    <div class="message">
      <button class="send"><font size="4"><center> Send Message </font></center></button>
    </div>
  </div>
</div> 